
/* Fonts */


/* Styling starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: mono;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: auto;
    margin-top: 5rem;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    height: fit-content;
    width: 400px;
    box-sizing: content-box;
    border: 3px solid black;
    margin-top: 4rem;
    margin-bottom: 4rem;
}